{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container mt-5">
        <div class="form-group">
            <label for="select1">Select ssh:</label>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.ipField|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.cmdField|as_crispy_field }}
                </div>
{#                <div class="form-group">#}
{#                    {{ form.select_ssh|as_crispy_field }}#}
{##}
{#                </div>#}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}
